body {
  background-color: #38aaa4;
}
#new-city {
  display: inline;
}
#submit {
  display: inline;
}
#search-city {
  display: inline;
}
#search {
  display: inline;
}
h1 {
  font-size: 62px;
  display: inline;
  line-height: 1;
}
#paragraph {
  display: inline;
  padding: 0, 0, 25px;
  margin: 0, 0 25px;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: -webkit-grab;
}
#celcius {
  font-size: 15px;
  line-height: 1.5;
}

#farenhiet {
  font-size: 15px;
  line-height: 1.5;
}
#dash {
  font-size: 15px;
  line-height: 1.5;
}
.first {
  display: inline;
  margin-right: 15px;
  font-size: 39px;
  color: #b2b3b8;
}
strong {
  font-size: 19px;
}
h2 {
  margin-top: 35px;
}
.container {
  margin-top: 80px;
  margin-left: 400px;
}
.degree {
  margin-top: 50px;
}
.days {
  margin-top: 15px;
}
.cold {
  color: #b2b3b8;
  font-size: 22px;
}
.hot {
  color: #f4da3b;
  font-size: 22px;
}
.warm {
  color: #e78820;
  font-size: 22px;
}
